.logout-container {
	.header-container {
		padding-top: 30px;
		text-align: center;
		padding-bottom: 10px;
	}
	.buttons-group {
		display: flex;
		width: 80%;
		margin: auto;
		justify-content: space-between;
		.stay-button {
			width: 45%;
		}
		.logout-btn {
			margin-right: 10px;
			width: 45%;
		}
	}
}
