.varient-payment-container {
	display: flex;
    flex-direction: column;
	direction: rtl;
    padding-top: 20px;
    border-top: 1px solid lightgrey;

	&:first-child {
		padding-top: 0px;
		border-top: 0px solid lightgrey;
	}

	.category-name {

	}

	.varient-payment-container-inner{
		display: flex;
		flex-direction: row;
	}
	.variant-name {

	}
	.quantity {
		text-align: center;

	}
	.price-per-variant {

	}
	.total-price-per-variant {

	}
}
