.container-change-password {
	box-shadow: #ddd 0px 0px 20px;
	background-color: white;
	width: 100%;
	border-radius: 20px;

	.change-password-btn-container {
		width: 230px;

		@media only screen and (max-width:$max-mobile-width) {
			width: 100%;
		}

		.custom-button-container>button {
			border-radius: 10px;
			background-color: #179bd3;
		}
	}

	.change-password-main-container {
		// padding: 10px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 30px;
		width: 98%;
		margin: auto;

		.container-form-and-rules {
			display: flex;
			flex-direction: row;
			ol, ul {
				list-style: disc;
			}
			@media only screen and (max-width:$max-mobile-width) {
				flex-direction: column-reverse;
			}
		}

		.change-password-title {
			display: flex;
			justify-content: space-between;
			margin-bottom: 21px;

			@media only screen and (min-width:$max-mobile-width) {
				border-bottom: solid 1px $color-light-gray;
				margin-bottom: 50px;
				padding-bottom: 30px;
			}


			.custom-header-text {
				font-family: 'Rubik-Bold';
				font-size: 24px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 0.79;
				letter-spacing: normal;
				color: $color-blue-normal;
				text-align: right;
			}

		}

		.change-password-main-content {

			text-align: right;

			.change-password-content-text {
				.content-text-item {
					font-weight: bold;
				}

				@media only screen and (min-width:$max-mobile-width) {
					.content-text-item {
						padding-right: 10px;
					}

					font-size: 16px;
				}
			}

			.change-input-with-button {

				width: 100%;

				@media only screen and (max-width:$max-mobile-width) {
					margin-top: 33px;
				}

				@media only screen and (min-width:$max-mobile-width) {
					margin-left: 120px;
					width: 30%;
				}

				.change-password-inputs {
					padding: 0px 2px;

					@media only screen and (min-width:$max-mobile-width) {
						padding-bottom: 25px;
					}

					.error-div {
						margin-bottom: 5px;
					}

					.custom-input-text-container {
						margin-left: 0;
						@media only screen and (max-width:$max-mobile-width) {
							margin-bottom: 17px;
						}
						.custom-input-label-container {
							font-family: 'Rubik-Light';
							font-size: 16px;
							font-weight: 300;
							font-stretch: normal;
							font-style: normal;
							line-height: 1.19;
							letter-spacing: normal;
							color: #000;
						}

						.custom-input-text-input-container {
							border-radius: 5px;
							border: solid 1px $color-light-gray;
							background-color: #fff;

							.password-btn-location {
								padding: 0 8px;
							}
						}
					}
				}

				.change-password-btn-container {
					padding-bottom: 25px;
					@media only screen and (max-width:$max-mobile-width) {
						margin-top: 30px;
					}
				}

				.error-color {
					color: #595959;
				}

				.input-red {
					.custom-input-text-input-container {
						border-color: red;
						border-width: 2px;
					}
				}
			}
		}
	}
}

.required::before {
	color: #000000 !important;
}