.reset-password-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 30px 0;
    width: 62%;
    @media only screen and (max-width: $max-mobile-width) {
        width: 97%;
    }
    .logo{
        width: max-content;
        height: auto;
        margin: auto;
    }
    .title{
        font-family: 'Rubik-Medium';
        color: #0f6bb3;
        font-size: 24px;
        text-align: center;
        margin: 10px 0;
        @media only screen and (max-width: $max-mobile-width) {
            font-size: 18px;
        }
    }
    .body1{
        font-family: 'Rubik-Bold';
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        @media only screen and (max-width: $max-mobile-width) {
            font-size: 14px;
        }
    }
    .body2{
        display: flex;
        justify-content: space-between;
        direction: ltr;
        width: 87%;
        margin: auto;
        margin-top: 10px;
    }
    .body3{
        font-family: 'Rubik-Light';
        font-size: 16px;
        color: #000000;
        text-align: center;
        margin: 10px 0;
        @media only screen and (max-width: $max-mobile-width) {
            font-size: 14px;
        }
    }
}