.order-item-container {
	display: flex;
	flex-direction: column;
	width: 100%;

	.row {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.title-container {
		width: 45%;
	}
	.info-container {
		display: flex;
		justify-content: space-around;
		width: 55%;
	}

	.info-item {
		display: flex;
		flex-direction: column;
		line-height: 20px;
		text-align: center;
	}

	.bold-text {
		font-weight: bold;
	}

	.sub-title {
		font-size: 0.9em;
	}

	.title-text-align {
		text-align: right;
	}

	.original-price {
		text-decoration: line-through;
	}

	.buttons-container {
		justify-content: space-around;
		margin-bottom: 10px;
	}

	.button-container {
		width: 100px;
		margin: 0 10px;
	}
	.date-text {
		color: #8dbd22;
	}
}

@media only screen and (min-width:$max-mobile-width) {
	.order-item-container {
		flex-direction: row;
		align-items: center;
		.buttons-container {
			width: 40%;
		}
		.data-container {
			width: 60%;
		}
	}
}
