
.chat-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0 20px 0;

  .start-chat-btn {
    margin: auto;
    background-color: orangered;
    color: white;
    text-align: center;
    line-height: 25px;
    border: unset;
    width: 100%;
  }
}

@media only screen and (min-width:$max-mobile-width) {
  .chat-container {
    height: 20%;
    margin: unset;
  }
}