.update-password-main-container {
	margin: auto;
	width: 100%;
	margin-bottom: 25px;
	margin-bottom: 40px;
	margin-top: 10px;

	@media only screen and (max-width:$max-mobile-width) {
		padding: 10px;
	}

	.update-password-instructions {
		font-family: 'Rubik-Light';
		font-size: 16px;
		font-weight: 300;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.38;
		letter-spacing: normal;
		color: #000;
		text-align: right;

		ol,
		ul {
			list-style: disc;

			@media only screen and (max-width:$max-mobile-width) {
				margin-right: 10px;
			}
		}
	}

	.update-password-content-container {
		display: flex;
		flex-direction: column;
		font-family: 'Rubik-Light';
		margin-top: 10px;
		background-color: white;
		padding: 3%;
		width: 100%;
		box-shadow: #ddd 0px 0px 20px;

		@media only screen and (max-width:$max-mobile-width) {
			border-radius: 20px;
			padding: 15px;
		}

		@media only screen and (min-width:$max-mobile-width) {
			height: 520px;
			border-radius: 0 0 20px 20px;
			width: 53%;
			margin-right: 120px;
			justify-content: space-between;
			flex-direction: row;

			.password-rules,
			.update-inputs-container {
				width: 45%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}




		.update-password-title {
			padding-top: 30px;
			padding-bottom: 30px;

			.main-title {
				font-size: 26px;
				color: blue;
				padding-bottom: 35px;

				@media only screen and (min-width:$max-mobile-width) {
					font-size: 30px;
				}
			}
		}

		.update-inputs-container {
			padding-bottom: 20px;

			.form-container-and-title {
				width: 100%;

			}

			.red {
				.custom-input-text-input-container {
					border-color: red;
					border-width: 2px;
				}
			}

			.error-message {
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
}