// Colors from Design Papers
$color-blue-normal: #0f6bb3;
$color-blue-dark: #00173a;
$color-blue-light: #19a4de;
$color-green: #a8cf52;
$color-orange: #f76e31;
$color-white: white;
$background-color: #fff;
$color-red: #de2626;
$color-light-gray: #f0f0f2;
$color-grey: #e7e7e9;

// Colors for our website
$error-color: red;
$input-disabled: #ccc;

$text-color-gray: #b5b5b5;
$text-color: black;

$border-radius-element:20px;
$border-radius-btn:20px;
$box-shadow-element:#C0C0C0 0px 0px 20px;
