// Layout sizes
$small-mobile-width: 319px;
$medium-mobile-width: 415px;
$mobile-width-550: 550px;
$mobile-width-600: 600px;
$mobile-width-650: 650px;
$mobile-width-750: 750px;
$mobile-width-800: 800px;
$mobile-width-900: 900px;
$mobile-width-950: 950px;
$mobile-width-1000: 1000px;
$max-mobile-width: 1025px;
$desktop-width-1150: 1150px;
$min-desktop-width: 992px;

$min-tablet-width: 500px;
$medium-tablet-width: 700px;
$max-tablet-width: 850px;

// Fonts
$font-size-base-mobile: 15px;
$font-size-base-desktop: 14px;
