.short-code-modal-container {
	.header-container {
		.span-text {
			padding-bottom: 12px;
		}
	}
	.inputs-container {
	}
	.btn-container {
		padding-top: 10px;
		.save-btn {
			padding-bottom: 7px;
		}
	}
}
